<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Assignwk_" method="post" enctype="multipart/form-data"><table width="451" border="1">
  <tr>
    <td width="120">Enter Work Title</td>
    <td width="319"><input type="text" placeholder="Type Here" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td height="152" colspan="2"><textarea name="textarea" id="textarea" cols="50" rows="10"></textarea></td>
  </tr>
  <tr>
    <td>Attach File</td>
    <td><input type="file" name="fileField" id="fileField" /></td>
  </tr>
  <tr>
    <td>Submission Date</td>
    <td><input type="date" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" name="button" id="button" value="Send" /></td>
  </tr>
</table>
</form>
</body>
</html>
