<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <form action="/intermon" method="post"><table width="200" border="1">
  <table border="1">
    <tr>
      <td><input type="text" name="textfield"></td>
      <td><input type="submit" value="Search"></td>
    </tr>
  </table>
  <table width="200" border="1">

  <tr>
    <td>S.No</td>
    <td>Interns</td>
    <td>Work Assigned</td>
    <td>Status</td>
    <td>Work Report</td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>
    <td><label>
      <input type="checkbox" name="checkbox2" id="checkbox2" />
      Completed</label></td>
    <td><a href="#">Generate</a></td>

  </tr>
</table>
</form>
</body>
</html>
