<html>
    <body>
        <div className="App">
            <header className="App-header">
            <form action="" method="get"><table width="200" border="1">
        <tr>
          <td>S.No</td>
          <td>Course Name</td>
          <td>Duration</td>
          <td>Fees</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a href="#">Edit</a></td>
          <td><a href="#">Delete</a></td>
        </tr>
      </table>
      </form>
            
            </header>
          </div>
        );
      }
    </body>
</html>