<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" border="1">
  <tr>
    <td>S.No</td>
    <td>Date</td>
    <td>Interns</td>
    <td>Mentors Assigned</td>
  </tr>
  <% var counter =1;
  mnn.forEach(i=> { %>
  <tr>
    <td>&nbsp;<%= counter %></td>
    <td>&nbsp;<%= i.date %></td>
    <td>&nbsp;<%= i.Intern_Name %></td>
    <td>&nbsp;<%= i.Name %></td>
  </tr>
  <% counter++;
}); %></table>
</form>
</body>
</html>
