<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title><%= tt %></title>
 <style>
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(135deg, #b98888 10%, #434946 100%);
  background-color: #f5f5f5;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(102, 188, 190, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
form {
        width: 250px;
        margin: 100px auto;
        padding: 20px;
        border: 5px solid ;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(58, 106, 161, 0.2), 0 6px 20px 0 rgba(243, 237, 237, 0.19);
        background-color:linear-gradient(135deg, #69abcc 10%, #bccf4c 100%);
      }
  
      input[type="text"], input[type="password"] {
        width:85%;
        padding: 10px;
        margin: 10px 0;
        border: 10px solid #ffffff;
        border-radius: 25px;
        font-size: 14px;
      }
  
      input[type="submit"] {
        background-color: #7693e2;
        color:  rgb(255, 255, 255);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
  
      input[type="submit"]:hover {
        background-color: #863fdc;
      } -->
 </style>
</head>

<body>
 <form action="/login_post" method="post">
    <table width="100%" border="0">
      <tr>
        <td><input type="text" required placeholder="Username" name="textfield" id="textfield" /></td>
      </tr>
      <tr>
        <td><input type="password" required placeholder="Password" name="textfield2" id="textfield2" /></td>
      </tr>
      <tr>
        <td><input type="submit" name="button" id="button" value="Login" /></td>
      </tr>
    </table>
 </form>
</body>

</html>