
    /* General styles */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
      }
  
      /* Form styles */
      form {
        width: 250px;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
      }
  
      input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
      }
  
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
  
      input[type="submit"]:hover {
        background-color: #45a049;
      } -->
  
      

    