<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/assign_sub" method="post" enctype="multipart/form-data">
<table width="271" border="1">
  <tr>
    <td width="261" height="78"><input type="text" placeholder="Assignment Title" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td><input type="file" name="fileField" id="fileField" /></td>
  </tr>

    <td><input type="submit" name="Submit" id="Submit" value="Submit" /></td>
  </tr>
</table>
</form>
</body>
</html>
