<!-- <html>
    <body>
        <a href='/assignmentsubmission'>Assignment submission</a>
        <a href='/internfeedback'>Feedback</a>
        <a href='/internprofileview'>Intern profile</a>
        <a href='/queriesubmission'>Query Submission</a>
        <a href='/viewassignedcourses'>View Assigned Courses</a>
        <a href='/viewassignedmentor'>Assigned Mentor</a>
        <a href='/Internviewassignments'>View Assignments</a>
    </body>
</html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
            background-color: #f0f0f0;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
        }

        a {
            color: #003399;
            background-color: #fff;
            text-decoration: none;
            padding: 15px;
            border-radius: 8px;
            margin: 10px;
            text-align: center;
            width: 45%;
            transition: background-color 0.3s, color 0.3s;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        a:hover {
            background-color: #ddd;
            color: #000;
        }
    </style>
</head>

<body>
    <div class="container">
        <a href='/assignmentsubmission'>Assignment submission</a>
        <a href='/internfeedback'>Feedback</a>
        <a href='/internprofileview'>Intern profile</a>
        <a href='/changepassword'>Change Password</a>
        <a href='/queriesubmission'>Query Submission</a>
        <a href='/viewassignedcourses'>View Assigned Courses</a>
        <a href='/viewassignedmentor'>Assigned Mentor</a>
        <a href='/Internviewassignments'>View Assignments</a>
        <a href='/'>logout</a>

    </div>
</body>

</html>