<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/intfeed">
  <table border="1">
    <tr>
      <td><input type="text" name="textfield"></td>
      <td><input type="submit" value="Search"></td>
    </tr>
  </table>
<table width="262" border="1">
  <tr>
    <td width="65">S.No</td>
    <td width="51">Date</td>
    <td width="124">Feedback</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">View</a></td>
  </tr>
</table>

</form>
</body>
</html>
